Sistema Monitoramento/libs/Class/_teste.ahk2
.vscode/settings.json
Sistema Monitoramento/Homologação/viaweb_log.txt
Sistema Monitoramento/Homologação/debug.log
Sistema Monitoramento/Test/__useless.ahk2
Sistema Monitoramento/libs/Functions.ahk
Sistema Monitoramento/Homologação/viaweb_log.txt
